<ion-navbar *navbar primary>
    <ion-title>
        <strong *ngIf="pokemon">{{ pokemon.name }}</strong>
    </ion-title>
</ion-navbar>
<ion-content>
  <loader text="Loading Pokemon..." *ngIf="!pokemon"></loader>
    <div *ngIf="pokemon">
        <img class="pokemon-image" src="{{ pokemon.image }}" alt="{{ pokemon.name }}">
        <div class="stats">
            <div>
                <h3>{{ pokemon.stats.attack }}</h3> Attack
            </div>
            <div>
                <h3>{{ pokemon.stats.defense }}</h3> Defense
            </div>
            <div>
                <h3>{{ pokemon.stats.hp }}</h3>
                <icon heart></icon> HP
            </div>
            <div>
                <h3>{{ pokemon.stats.speed }}</h3> Speed
            </div>
        </div>
        <div class="stats">
            <div>
                <h3>{{ pokemon.stats.sp_atk }}</h3> Special Attack
            </div>
            <div>
                <h3>{{ pokemon.stats.sp_def }}</h3> Special Defense
            </div>
            <div>
                <h3>{{ pokemon.stats.weight }}</h3> Weight
            </div>
        </div>
        <hr style="margin: 30px 0" />
        <div>
            <ion-list>
              <ion-list-header>Evolutions</ion-list-header>
                <p padding *ngIf="!pokemon.evolutions.length">No evolutions</p>
                <a ion-item *ngFor="#evolution of pokemon.evolutions" (click)="goToEvolution(evolution)" href="#">
                    <span *ngIf="evolution.method === 'level_up'">
                      Level {{ evolution.level }} <icon arrow-right></icon> <strong>{{ evolution.to }}</strong>
                    </span>
                    <span *ngIf="evolution.method === 'stone'">
                      With Stone, to <strong>{{ evolution.to }}</strong>
                    </span>
                </a>
            </ion-list>
        </div>
        <div>
            <ion-list-header>Abilities</ion-list-header>
            <ion-list>
                <a ion-item *ngFor="#ability of pokemon.abilities" href="#">
                    {{ ability.name | capitalize }}
                </a>
            </ion-list>
        </div>
        <div>
            <ion-list-header>Moves</ion-list-header>
            <ion-list>
                <a ion-item *ngFor="#move of pokemon.moves" (click)="goToMove(move)" href="#">
                    <h2>{{ move.name }}</h2>
                    <p>{{ move.learn_type | capitalize }} <span *ngIf="move.learn_type === 'level_up'"> at {{ move.level }}</span></p>
                </a>
            </ion-list>
        </div>
    </div>
</ion-content>

